- @title = "Update License"
%h1{:style => "padding: 10px;"}
  Update License
= form_for :license, url: {action: "update"}, html: {method: :put} do |f|
  = render partial: 'form', locals: { f: f }
  %p{:style => "padding: 10px;"}
    = f.submit "Cancel", name: 'cancel', id: 'cancel', formnovalidate: 'formnovalidate'
    = f.submit "Update License", class: "blueButton"
