- @title = "Update License"
%h1 Update License
= form_for :license, url: {action: "update"}, html: {method: :put, id: "license_form", class: "main-form"} do |f|
  = render partial: 'form', locals: { f: f, action: "Update" }
