- @title = "Create New License"
%h1 Create New License
= form_for :license, url: {action: "create"}, html: {id: 'license_form'} do |f|
  = render partial: 'form', locals: { f: f }
  %p{:style => "padding: 10px;"}
    = f.submit "Cancel", name: 'cancel', id: 'cancel', formnovalidate: 'formnovalidate'
    = f.submit "Create License", class: "blueButton"
