%h1 OntoPortal Appliance License Server
%p
  Welcome to the License Server. From here you can create a license for a new OntoPortal Appliance (OA), apply for a renewal of an existing license, and track the approval progress of your submitted application.
%p
  Use your BioPortal credentials to get started:
  = render partial: 'login/login_form'
