<p>Dear <%= @license.first_name %>,</p>
<p>Thank you for submitting your license request for Appliance ID: <%= @license.appliance_id %>. Your request is currently being reviewed by our staff. Once it's approved, you will receive an email containing your OntoPortal license key, which you can use to activate your copy of the OntoPortal Appliance. For non-profit, government, and educational organizations, the approval process normally takes less than 1 business day. For commercial organizations, we will contact you to complete the licensing process.</p>
<p>You can check the status of your request by logging in to our license server: <a href="<%= root_url %>"><%= root_url %></a>.</p>
<p>Sincerely,</p>
<p>The OntoPortal Team</p>