// Place all the styles related to the LicenseServer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  padding-bottom: 30px;
}

h3 {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bolder;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 40px;
  flex: 1 0 auto;
}

.global-container {
  margin: 20px 20px;
}

.container-footer {
  width: 970px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  width: 100%;
  vertical-align: bottom;
  bottom: 0;
  color: #757575;
  background-color: #ccc;
  padding: 20px 0;
  font-weight: 500;
  font-size: 14px;
  flex-shrink: 0;
}

/************************************
 * Top navigation bar
 ************************************/
.btn-bp-login {
  color: #eee;
  border-color: #eee !important;

  &:hover {
    color: #555;
    background-color: #ccc;
  }
}

.nav_text a {
  font-family: 'Droid Sans', sans-serif;
  font-size: 1.1em;
  padding: 25px 15px;
  position: relative;
  text-decoration: none;
  top: 11px;
}

a.dropdown-toggle {
  color: #DDDDDD !important;
}

a.dropdown-toggle:hover {
  color: #F7F7F7 !important;
}

.nav_text a:hover {
  color: lightGray !important;
}

.nav_text_active a {
  color: lightGray !important;
}

.navbar-header {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 4px;
}

.navbar {
  background-color:#638e97;
  border:0;
  box-shadow:0 3px 5px #999;
  width: 100%;
}

table.dataTable thead .sorting {
  background-image: none;
}

.pagination .page-item.active .page-link {
  background-color: #638e97;
  color: #fff !important;
  border-color: #638e97;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link:focus {
  background-color: #638e97;
}

.pagination .page-item.active .page-link:hover {
  background-color: #638e97;
}

.page-link {
  color: #638e97 !important;
  border-color: #638e97;
}

.col-sm-12 {
  width: 100%;
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
}

.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

ul li {
  list-style: none;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 14px;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-ellipsis-v::before {
  content: "|";
}

::before, ::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

/* message boxes */
.alert-box {
  color: #555;
  border-radius: 5px;
  font-family: Tahoma, Geneva, Arial, sans-serif;
  font-size: 11px;
  padding: 10px 11px 10px 36px;
  margin-bottom: 30px;
}

.alert-box span {
  font-weight: bold;
  text-transform: uppercase;
}

.error {
  background: #ffecec asset-data-url("error.png") no-repeat 10px 50%;
  border: 1px solid #f5aca6;
}

.success {
  background: #e9ffd9 asset-data-url("success.png") no-repeat 10px 50%;
  border: 1px solid #a6ca8a;
}

#copy-button {
  margin-bottom: 8px;
  margin-left: 16px;
  background-color: #666666;
  border-color: #666666;
}

.btn {
  border-width: 2px;
}

/* buttons */

@function hsb($h-hsb, $s-hsb, $b-hsb, $a: 1) {
  @if $b-hsb == 0 {
    @return hsla(0, 0, 0, $a);
  } @else {
    $l-hsl: ($b-hsb/2) * (2 - ($s-hsb/100));
    $s-hsl: ($b-hsb * $s-hsb) / if($l-hsl < 50, $l-hsl * 2, 200 - $l-hsl * 2);
    @return hsla($h-hsb, $s-hsl, $l-hsl, $a);
  }
}

@function hsb-saturate($s, $a) {
  @if $s == 0 {
    @return 0;
  } @else {
    @return $s + $a;
  }
}

@mixin buttonize($h, $s, $b, $light: 0) {
  $color: hsb($h, $s, $b);
  $color-dark: hsb($h, hsb-saturate($s, 10), $b);
  $inset-top: inset 0 1px 0 hsb($h, $s - 20, $b + 10);
  $inset-bottom: inset 0 -1px 0 hsb($h, hsb-saturate($s, 10), $b - 10);
  $inset: inset 0 0 0 1px hsb($h, hsb-saturate($s, - 10), $b);

  background-color: $color;
  background-image: linear-gradient(to bottom, $color, $color-dark);
  border: 1px solid hsb($h, hsb-saturate($s, 20), $b - 20);
  box-shadow: $inset-top,
  $inset-bottom,
  $inset,
  0 2px 4px rgba(black, 0.2);

  @if $light == 1 {
    color: hsb($h, hsb-saturate($s, 40), $b - 40);
    text-shadow: 0 1px 0 rgba(white, 0.5);
  } @else {
    color: white;
    text-shadow: 0 1px 2px rgba(black, 0.3);
  }

  &:hover,
  &:focus {
    background: $color-dark;
    border-color: hsb($h, hsb-saturate($s, 40), $b - 40);
    box-shadow: $inset-top,
    $inset-bottom,
    $inset;
  }

  &:active {
    background: $color-dark;
    box-shadow: inset 0 2px 3px rgba(black, 0.2);
  }

  .fa {
    color: hsb($h, hsb-saturate($s, 20), $b - 20);
    text-shadow: 0 1px 0 rgba(white, 0.3);
  }
}

strong{ font-weight: bold;}

.button{ @include buttonize(0, 0, 95, 1); border-radius: 3px; cursor: pointer; display: inline-block; font-family: Verdana, sans-serif; font-size: 14px; font-weight: 500; line-height: 20px; padding: 9px 16px 9px; margin:0 0 15px 0; transition: all 20ms ease-out; vertical-align: top;}
.button-blue{ @include buttonize(199, 71, 89);}
.button-green{ @include buttonize(97, 42, 80);}
.button-purple{ @include buttonize(249, 34, 73);}
.button-orange{ @include buttonize(26, 77, 96);}
.button-red{ @include buttonize(4, 58, 93);}
.button-yellow{ @include buttonize(49, 54, 99, 1);}
.button .fa{ float: left; font-size: 14px; line-height: 20px; margin: -1px 8px 0 -4px; vertical-align: top;}

table.detail td {
  padding: 10px;
}

table.detail th {
  padding-right: 50px;
  padding-top: 10px;
  white-space: nowrap;
  vertical-align: top;
}

table.form td {
  padding: 10px;
}

table.form th {
  padding-right: 50px;
  padding-top: 20px;
  white-space: nowrap;
  vertical-align: top;
}

input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
input[type=url],
textarea,
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  min-height: 36px;
  padding: 8px 12px;
  width: 100%;
  margin-top: 5px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  border-radius: 0.2rem;
  font-size: 15px;
  color: #404040;
  outline: none;
}

select {
  //background:
  //        linear-gradient(45deg, transparent 50%, #eee 50%),
  //        linear-gradient(135deg, #eee 50%, transparent 50%),
  //        linear-gradient(to right, #93b2b8, #638e97);
  //background-position:
  //        calc(100% - 21px) calc(1em + 2px),
  //        calc(100% - 16px) calc(1em + 2px),
  //        100% 0;
  //background-size:
  //        5px 5px,
  //        5px 5px,
  //        2.5em 2.5em;
  //background-repeat: no-repeat;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
  background-size: 8px 10px;
}