// Place all the styles related to the LicenseServer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/************************************
 * Top navigation bar
 ************************************/
.btn-bp-login {
  color: #C58612;
  border-color: #C58612 !important;

  &:hover {
    color: #234979;
    background-color: #C58612;
  }
}

.nav_text a {
  font-family: 'Droid Sans', sans-serif;
  font-size: 1.1em;
  padding: 25px 15px;
  position: relative;
  text-decoration: none;
  top: 11px;
}

.nav_text a:hover {
  color: lightGray !important;
}

.nav_text_active a {
  color: lightGray !important;
}

.navbar-header {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 4px;
}

.navbar {
  background-color:#638e97;
  border:0;
  box-shadow:0 3px 5px #999;
  width: 100%;
}

.licenses_list_container {
  padding: 1em;
}
//
///* Datatables */
//.licenses_list_container {
//  clear: both;
//}
//
//.licenses_list_container .dataTables_length {
//  float: left;
//  padding: 1em 0;
//}
//
//.licenses_list_container .dataTables_filter {
//  float: right;
//  padding-top: 3px;
//}
//
//.licenses_list_container .dataTables_filter input {
//  width: 200px;
//}
//
//.licenses_list_container .dataTables_info {
//  text-align: center;
//  padding: .5em;
//}
//
//.licenses_list_container .dataTables_paginate {
//  text-align: center;
//}
//
//.licenses_list_container .dataTables_paginate .paginate_button {
//  text-decoration: underline;
//  cursor: pointer;
//  padding: 0 .5em;
//}
//
//.licenses_list_container .dataTables_paginate .paginate_button:hover {
//  text-decoration: none;
//}
//
//.licenses_list_container .first, .licenses_list_container .previous, .licenses_list_container .next, .licenses_list_container .last {
//  padding: 0 .5em;
//}
//

table.dataTable thead .sorting {
  background-image: none;
}

.pagination .page-item.active .page-link {
  background-color: #638e97;
  color: #fff !important;
  border-color: #638e97;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link:focus {
  background-color: #638e97;
}

.pagination .page-item.active .page-link:hover {
  background-color: #638e97;
}

.page-link {
  color: #638e97 !important;
  border-color: #638e97;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 40px;
}

.container-footer {
  width: 970px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  width: 100%;
  vertical-align: bottom;
  bottom: 0;
  color: #757575;
  background-color: #ccc;
  padding: 20px 0;
  font-weight: 500;
  font-size: 14px;
}

.col-sm-12 {
width: 100%;
}

.list-inline {
padding-left: 0;
list-style: none;
margin-left: -5px;
}

ul, ol {
margin-top: 0;
margin-bottom: 10px;
}

.list-inline > li {
display: inline-block;
padding-left: 5px;
padding-right: 5px;
}

ul li {
list-style: none;
}

.fa {
display: inline-block;
font: normal normal normal 14px/1 FontAwesome;
font-size: 14px;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.fa-ellipsis-v::before {
content: "|";
}

::before, ::after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
margin: 0;
padding: 0;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
}

.aParent div {
float: left;
clear: none;
margin-bottom: 30px;
}

.container {
max-width: 600px;
width: 100%;
margin-right: 40px;
position: relative;
}

h1 {
margin-bottom: 40px;
font-size: 35px;
font-weight: bold;
}

h3 {
margin-bottom: 30px;
font-size: 20px;
font-weight: bolder;
}

.container_info,
.container_err {
border-bottom: 1px solid gray;
display: block;
}

.container_err {
color: indianred;
}

.key {
font-weight: bold;
margin-right: 20px;
}

.val {
}

.global_container {
margin: 20px 20px;
}

.message {
background: #fff !important;
font-size: 14px;
font-weight: bolder;
}

.main_form input[type="radio"],
.main_form input[type="checkbox"] {
margin-right: 5px;
}

.radio_label {
margin-right: 20px;
font-weight: bold;
}

.main_form input[type="text"],
.main_form input[type="email"],
.main_form input[type="tel"],
.main_form input[type="url"],
.main_form input[type="number"],
.main_form select,
.main_form textarea,
.main_form button[type="submit"] {
font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

.main_form {
background: #F9F9F9;
padding: 25px;
margin: 10px 0;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.main_form h3 {
display: block;
font-size: 30px;
font-weight: 300;
margin-bottom: 30px;
}

.main_form h4 {
margin: 5px 0 15px;
display: block;
font-size: 13px;
font-weight: 400;
}

fieldset {
border: medium none !important;
margin: 0 0 10px;
min-width: 100%;
padding: 0;
width: 100%;
}

input.req,
textarea.req {
border-color: darksalmon !important;
}

.main_form input[type="text"],
.main_form input[type="email"],
.main_form input[type="tel"],
.main_form input[type="url"],
.main_form input[type="number"],
.main_form select,
.main_form textarea {
width: 100%;
border: 1px solid #ccc;
background: #FFF;
margin: 0 0 5px;
padding: 10px;
}

.main_form input[type="text"]:hover,
.main_form input[type="email"]:hover,
.main_form input[type="tel"]:hover,
.main_form input[type="url"]:hover,
.main_form input[type="number"]:hover,
.main_form select:hover,
.main_form textarea:hover {
-webkit-transition: border-color 0.3s ease-in-out;
-moz-transition: border-color 0.3s ease-in-out;
transition: border-color 0.3s ease-in-out;
border: 1px solid #aaa;
}

.main_form textarea {
height: 100px;
max-width: 100%;
resize: none;
}

.main_form button[type="submit"] {
cursor: pointer;
width: 100%;
border: none;
background: #234979;
color: #FFF;
margin: 0 0 5px;
padding: 10px;
font-size: 15px;
}

.main_form button[type="submit"]:hover {
background: #234979;
-webkit-transition: background 0.3s ease-in-out;
-moz-transition: background 0.3s ease-in-out;
transition: background-color 0.3s ease-in-out;
}

.main_form button[type="submit"]:active {
box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.main_form input:focus,
.main_form select:focus,
.main_form textarea:focus {
outline: 0;
border: 1px solid #aaa;
}

::-webkit-input-placeholder {
color: #888;
}

:-moz-placeholder {
color: #888;
}

::-moz-placeholder {
color: #888;
}

:-ms-input-placeholder {
color: #888;
}

/* message boxes */
.alert-box {
  color: #555;
  border-radius: 5px;
  font-family: Tahoma, Geneva, Arial, sans-serif;
  font-size: 11px;
  padding: 10px 11px 10px 36px;
  margin-bottom: 30px;
}

.alert-box span {
  font-weight: bold;
  text-transform: uppercase;
}

.error {
  background: #ffecec asset-data-url("error.png") no-repeat 10px 50%;
  border: 1px solid #f5aca6;
}

.success {
  background: #e9ffd9 asset-data-url("success.png") no-repeat 10px 50%;
  border: 1px solid #a6ca8a;
}

#copy-button {
  margin-bottom: 8px;
  margin-left: 16px;
  background-color: #666666;
  border-color: #666666;
}

.btn {
  border-width: 2px;
}

/* buttons */

@function hsb($h-hsb, $s-hsb, $b-hsb, $a: 1) {
  @if $b-hsb == 0 {
    @return hsla(0, 0, 0, $a);
  } @else {
    $l-hsl: ($b-hsb/2) * (2 - ($s-hsb/100));
    $s-hsl: ($b-hsb * $s-hsb) / if($l-hsl < 50, $l-hsl * 2, 200 - $l-hsl * 2);
    @return hsla($h-hsb, $s-hsl, $l-hsl, $a);
  }
}

@function hsb-saturate($s, $a) {
  @if $s == 0 {
    @return 0;
  } @else {
    @return $s + $a;
  }
}

@mixin buttonize($h, $s, $b, $light: 0) {
  $color: hsb($h, $s, $b);
  $color-dark: hsb($h, hsb-saturate($s, 10), $b);
  $inset-top: inset 0 1px 0 hsb($h, $s - 20, $b + 10);
  $inset-bottom: inset 0 -1px 0 hsb($h, hsb-saturate($s, 10), $b - 10);
  $inset: inset 0 0 0 1px hsb($h, hsb-saturate($s, - 10), $b);

  background-color: $color;
  background-image: linear-gradient(to bottom, $color, $color-dark);
  border: 1px solid hsb($h, hsb-saturate($s, 20), $b - 20);
  box-shadow: $inset-top,
  $inset-bottom,
  $inset,
  0 2px 4px rgba(black, 0.2);

  @if $light == 1 {
    color: hsb($h, hsb-saturate($s, 40), $b - 40);
    text-shadow: 0 1px 0 rgba(white, 0.5);
  } @else {
    color: white;
    text-shadow: 0 1px 2px rgba(black, 0.3);
  }

  &:hover,
  &:focus {
    background: $color-dark;
    border-color: hsb($h, hsb-saturate($s, 40), $b - 40);
    box-shadow: $inset-top,
    $inset-bottom,
    $inset;
  }

  &:active {
    background: $color-dark;
    box-shadow: inset 0 2px 3px rgba(black, 0.2);
  }

  .fa {
    color: hsb($h, hsb-saturate($s, 20), $b - 20);
    text-shadow: 0 1px 0 rgba(white, 0.3);
  }
}

strong{ font-weight: bold;}

.button{ @include buttonize(0, 0, 95, 1); border-radius: 3px; cursor: pointer; display: inline-block; font-family: Verdana, sans-serif; font-size: 14px; font-weight: 500; line-height: 20px; padding: 9px 16px 9px; margin:0 0 15px 0; transition: all 20ms ease-out; vertical-align: top;}
.button-blue{ @include buttonize(199, 71, 89);}
.button-green{ @include buttonize(97, 42, 80);}
.button-purple{ @include buttonize(249, 34, 73);}
.button-orange{ @include buttonize(26, 77, 96);}
.button-red{ @include buttonize(4, 58, 93);}
.button-yellow{ @include buttonize(49, 54, 99, 1);}
.button .fa{ float: left; font-size: 14px; line-height: 20px; margin: -1px 8px 0 -4px; vertical-align: top;}

table.detail td {
  padding: 10px;
}

table.detail th {
  padding-right: 40px;
}